// Colors
$color-primary: #2A3F54;

$color-blue: #3498DB;
$color-purple: #9B59B6;
$color-green: #1ABB9C;
$color-aero: #9CC2CB;
$color-red: #E74C3C;
$color-dark: #34495E;
$color-orange: #F39C12;
$color-blue-sky: #50C1CF;
$color-white: #fff;
$color-gray: #73879C;